
.sidebar-lg {
  width: 210px;
  transition: width 0.2s ease;
}

.sidebar-sm {
  width: 70px;
  transition: width 0.2s ease;
}

.sidebar-button-color{
  background-color: #ffd47d;
}

.sidebar-link {
  transition: background-color 0.2s ease;
}

.sidebar-link:hover {
  background-color: #ffe4ad;
}

.upload-image-style {
    width: 160px;
    height: 100px;
    cursor: pointer;
    border-style: dashed;
}

.image-display {
    width: 150px;
    height: 120px;
    object-fit: cover;
}

thead th {
  background-color: rgb(254, 188, 35) !important;
  font-weight: bold;
}

