@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Oregano:ital@0;1&display=swap');

body {
  font-family: Gabarito !important;
  font-weight: 400;
}

/*navbar*/
.number-badge {
  width: 25px;
  height: 25px;
  font-size: 14px;
  background-color: #ff6c1c;
  
}

/*header*/
.bg-img-custom-style {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('./assets/header_img3.png');
  background-position: center;
  background-size: cover;
}

.text-custom {
  background: -webkit-linear-gradient(16deg, rgb(246, 203, 73), #f4511e);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animation-1 {
  animation: slide-up 2s ease-in-out forwards;
}

.animation-2 {
  animation: slide-up 3s ease-in-out forwards;
  color: rgb(197, 195, 195);
}

@media (min-width: 992px) {
  .mx-width {
    max-width: 45%;
  }
}

.navbar-text-color {
  color: rgb(255, 186, 102) !important;
}

/*explore menu*/
.explore-menu-card-style {
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  cursor: pointer;
}

.explore-card-style {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.menu-card-custom-style {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.zoom-card:hover .zoom-image {
  transform: scale(1.1);
}

.bg-linear-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}


/*dishes*/
.bg-custom-color {
  background: -webkit-linear-gradient(16deg, #f35f32, rgb(255, 215, 96));
}

/*footer*/
.hover-link:hover {
  color: rgb(255, 207, 147);
  cursor: pointer;
}

/*service*/
.service {
  margin: 50px auto;
  background-color: rgb(239, 235, 235);
}

.service-img {
  width: 60%;
  border-radius: 50%;
}

.service-content {
  width: 80%;
}

@media screen and (max-width: 770px) {
  .service {
    padding: 10% 0;
  }

  .service-img {
    width: 40%;
  }
}

/*app download*/

.app-img {
  width: 200px;
}

.store-btn {
  width: 12vw;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.store-btn:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .store-btn {
    width: 30vw;
  }

  .app-img {
    width: 150px;
  }
}

/*about*/
.text-justify {
  text-align: justify;
}

.carousel-item img {
  width: 100%;
  height: auto;
  min-height: 500px;
  object-fit: cover;
}

.carousel-item p {
  color: rgb(181, 183, 183);
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: orange !important;
  border: none !important;
  margin: 0 5px !important;
  opacity: 0.5 !important;
}

.carousel-indicators .active {
  opacity: 1 !important;
}

.text-indent {
  text-indent: 2em;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*no order*/
.center-section {
  min-height: calc(100vh - 200px);
}

/*cart*/
.text-wrapping {
  overflow-wrap: break-word;
  word-break: break-word;
}

/*-----checkout----*/

.payment-card {
  transition: all .25s ease;
  cursor: pointer;
}

.payment-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .12) !important;
  border-color: #efb20a !important;
  background-color: #f7f1cd;
}

/* Glass effect 
.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}*/

/*----------------------------------------------------------*/
.custom-pointer {
  cursor: pointer;
}

.custom-button-color {
  background: #ff8820 !important;
  border: none !important;
  outline: none !important;
  color: black !important;
}

.custom-button-color:hover {
  background-color: #ff9a41 !important;
}

.custom-text-color {
  color: #f97612;
}

.heading-style {
  font-family: Oregano;
}

.custom-border2 {
  border-bottom-style: dotted;
  border-color: rgb(224, 221, 221);
  border-width: 2px;
}

.error-msg {
  display: block;
  font-size: 14px;
  color: red;
  margin-top: 5px;
}

.spinner-large{
  width: 5rem;
  height: 5rem;
}

.custom-list {
  list-style-type: circle;   
  padding-left: 20px;
}
